body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
}

.container {
    width: 90%;
    margin: 40px auto;
}

h1 {
    margin-bottom: 30px;
    font-weight: 600;
}

h2 {
    margin-top: 40px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    transition: 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
}

.card h3 {
    margin: 0;
    font-size: 16px;
    color: #94a3b8;
}

.card p {
    font-size: 28px;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.card.warning {
    border-left: 4px solid #facc15;
}

.card.danger {
    border-left: 4px solid #ef4444;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background: #334155;
}

th, td {
    padding: 12px;
    text-align: left;
}

tr {
    border-bottom: 1px solid #334155;
}

tr:hover {
    background-color: #243244;
}

.badge {
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.NORMAL {
    background-color: #16a34a;
    color: white;
}

.SUSPICIOUS {
    background-color: #facc15;
    color: black;
}

.HIGH_RISK {
    background-color: #ef4444;
    color: white;
}